{% extends "layout.html" %}
{% set active_page = "register" %}
{% block body %}
    <h1>Register</h1>
    <p class="lead">Please enter your username and password.</p>
  <form action="" method=post class="form-horizontal main-form">
    <div class="control-group">
        <label class="control-label" for="user_id">Username</label>
        <div class="controls">
          <input type="text" id="user_id" name="user_id" class="input-xlarge"
            placeholder="Enter Username" value="{{ request.form.username }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <label class="control-label" for="pw">Password</label>
        <div class="controls">
          <input type="password" id="pw" name="pw" class="input-xlarge"
            placeholder="Enter Password" value="{{ request.form.password }}"
            required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Sign up</button>
        </div>
    </div>
  </form>
{% endblock %}