 #paintContainer,#mid,#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;

}
html, body {
    height: 100%;
}

canvas{
    display: block;
}

#rightSiedBar{
    right:20px;
    height:85%;
    background: #ffffff;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center;
    overflow-x:hidden;
    min-width: 217px;
    position:fixed;
}

#leftSideBar{
    background: #ffffff;
    height:90%;
    width: 217px;
}

#leftSideBar_Item_Container{
    height: 100%;
    overflow-x: scroll;
}

#leftSideBar_nav_pills{
    width: 217px;
    margin-bottom: 10px;
}

#draggableHelper {
    width: 300px;
    height: 200px;
    border: 2px solid darkblue;
    border-radius: 5px;
    display: table;
}
 #dataDraggableHelper {
     width: 200px;
     height: 75px;
     border: 2px solid darkblue;
     border-radius: 5px;
     display: table;
 }

.btn-info{
    width:100%;
    margin:2px;
}
.btn-primary{
    width:80%;
    margin:2px;
}

.btn-warning{
    width:100%;
    margin: 2px;
}

.option-type{
    color:black;
    width: 40%;
    float: left;
}

.initializer-select{
    width: 40%;
    float: right;
}
.oprion-items{
    width:100%;
    margin: 2px;
}
#model-delete-btn{
    width:100%;
}

#datashape-btn{
    width:100%;
}

#connectModel{
    width:100%;
}

#connectionDelete{
    width : 100%;
    margin-top : 5px;
}

#footer-toxml-btn, #footer-Save-btn{
    width : 100px;
}