{% extends "layout.html" %}
{% set active_page = "test" %}
{% block body %}
<div id="main" class="container">
    <p>
      <h2>{{ model.name }}</h2>
      <a href="{{ url_for('test.update_model', model_id=model.id) }}" class="btn btn-primary pull-right">Edit name</a>
    {% if status == 'idle' %}
    <h3>Select test input data</h3>
    <table class="table table-hover">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Date</th>
      </tr>
      {%- for data in datas %}
      <tr>
        <td>{{data.id}}</td>
        <td><a href="/data/{{ data.id }}">{{ data.name }}</a></td>
        <td>{{ data.date_modified.strftime('%Y-%m-%d %H:%M') }}</td>
      </tr>
      {%- endfor %}
    </table>
    {% endif %}
    {% if status != 'idle' %}
      <h3>Status : {{ status }}</h3>
        {% if status == 'fail' or status == 'success' or status == 'cancel' %}
            <button type="button" id="clear_btn" class="btn btn-info" onclick="clear()">Clear status</button>
            <script>
                function clear() {
                    $.ajax({                //Send (docinfo) to server
                        url : '/tests/{{ model.id }}',
                        type : 'DELETE',
                        async : true,
                        success : function(){
                            window.location.href = "/tests";
                        }
                    });
                }
            </script>
        {% endif %}
        {% if status == 'running' %}
            <button type="button" id="stop_btn" class="btn btn-danger" onclick="stop()">Stop</button>
            <script>
                function stop() {
                    $.ajax({                //Send (docinfo) to server
                        url : '/tests/{{ model.id }}/stop',
                        type : 'DELETE',
                        async : true,
                        success : function(){
                            window.location.href = "/tests";
                        }
                    });
                }
            </script>
        {% endif %}
    {% endif %}
</div>
{% endblock %}