{% extends "layout.html" %}
{% set active_page = "test" %}
{% block body %}
<div id="main" class="container">
    <h1>Edit Trained Model</h1>
    <p class="lead">{{ model.name }} </p>

    <form action="" method=post class="form-horizontal">
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Enter Model Name" value="{{ request.form.name }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Rename</button>
            <button type="button" id="delete_btn" class="btn btn-danger" onclick="delete_model()">Remove</button>
        </div>
    </div>
    </form>
    <script type=text/javascript>
        function delete_model() {
            $.ajax({                //Send (docinfo) to server
                url : '/tests/{{ model.id }}',
                type : 'DELETE',
                async : true,
                success : function(){
                    window.location.href = "/tests";
                }
            });
        }
    </script>

</div>
{% endblock %}