{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>{{ model.name }} </h2>

    <form action="" method=post class="form-horizontal">
    <div class="control-group">
        <div class="controls">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="Enter Model Name" value="{{ request.form.name }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Rename</button>
        </div>
    </div>
    </form>
    <button type="button" id="delete_btn" class="btn btn-danger" onclick="delete_model()">DELETE</button>
    <script type=text/javascript>
        function delete_model() {
            $.ajax({                //Send (docinfo) to server
                url : 'http://localhost:5000/tests/{{ model.id }}',
                type : 'DELETE',
                async : true,
                success : function(){
                    window.location.href = "http://localhost:5000/tests";
                }
            });
        }
    </script>

</div>
{% endblock %}