{% extends "layout.html" %}
{% block body %}
<div id="progress">
    <div class="bar" style="width: 0%;"></div>
</div>
<input id="fileupload" type="file" name="file" data-url="/data/" multiple>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/javascripts/vendor/jquery.ui.widget.js"></script>
<script src="/static/javascripts/jquery.iframe-transport.js"></script>
<script src="/static/javascripts/jquery.fileupload.js"></script>
<script>
    $('#fileupload').fileupload({
        maxChunkSize: 4 * 1024 * 1024, // 4 MB
        method:'POST'
    })
        .on('fileuploaddone', function (e, data) {
            alert('Uploading Complete');
            console.log(data);
        })
        .on('fileuploadfail', function (e, data) {
            $.ajax({
                url: data.id,
                dataType: 'json',
                data: {file: data.files[0].name},
                type: 'DELETE'
            });
            alert('Uploading Fail');
        })
        .on('fileuploadchunksend', function (e, data) {})
        .on('fileuploadchunkdone', function (e, data) {})
        .on('fileuploadchunkfail', function (e, data) {})
        .on('fileuploadchunkalways', function (e, data) {});
</script>
{% endblock %}