{% extends "layout.html" %}
{% set active_page = "data" %}
{% block body %}

<h1>Upload data file</h1>
<p class="lead">Please upload your data as .txt file format.</p>

<div id="progressBox">
    <div>In progress... (<span id="file_name"></span>/<span id="progress">0%</span>)</div>
    <progress class="progress" value="0" max="100" aria-describedby="example-caption-1"></progress>
</div>

<input id="fileupload" type="file" accept=".txt" name="file" data-url="/data/" multiple>
    <div id="message" style="margin-top: 20px;"></div>
    <a href="{{ url_for('data.get_all') }}" class="btn btn-large btn-primary" style="margin-top: 20px;">Back to data list</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/javascripts/vendor/jquery.ui.widget.js"></script>
<script src="/static/javascripts/jquery.iframe-transport.js"></script>
<script src="/static/javascripts/jquery.fileupload.js"></script>
<script>
    $("#progressBox").hide();
    $('#fileupload').fileupload({
        maxChunkSize: 4 * 1024 * 1024, // 4 MB
        method:'POST'
    })
        .on('fileuploadstart', function (e) {
            $("#progressBox").show();
        })
        .on('fileuploaddone', function (e, data) {
            $('#progress').html("<span style='color: blue;'>100%</span>");
            $('#message').html('<div class="alert alert-success">Uploading Complete!</div>');
            // alert('Uploading Complete');
            console.log(data);
        })
        .on('fileuploadsend', function (e, data) {
            $("#file_name").text(data.files[0].name);
        })
        .on('fileuploadfail', function (e, data) {
            console.log(e);
            console.log(data);
            $.ajax({
                url: data.id,
                dataType: 'json',
                data: {file: data.files[0].name},
                type: 'DELETE'
            });
            $('#progress').html("<span style='color: red;'>FAIL</span>");
            $('#message').html('<div class="alert alert-error">Uploading Fail</div>');
            // alert('Uploading Fail');
        })
        .on('fileuploadchunksend', function (e, data) {})
        .on('fileuploadchunkdone', function (e, data) {
            var percent = parseInt(data.loaded / data.total * 100);
            $(".progress").attr("value", percent);
            $("#progress").text(percent + "%");
        })
        .on('fileuploadchunkfail', function (e, data) {})
        .on('fileuploadchunkalways', function (e, data) {});
</script>
{% endblock %}