{% set active_page = active_page|default('index') -%}
<!doctype html>
<title>DrawML</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
    padding-top: 60px;
    padding-bottom: 100px;
}
</style>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/static/css/drawml-was.css" rel="stylesheet">
<script src="/static/javascripts/jquery.js"></script>
<script src="/static/javascripts/bootstrap.min.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse"
                data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">DrawML</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% if g.user.is_authenticated%}
                        {% set navigation_bar = [
                            (url_for('data.get_all'), 'data', 'Data'),
                            (url_for('experiment.get_all_exp'), 'experiment', 'Experiment'),
                            (url_for('test.get_all_model'), 'test', 'Test'),
                            (url_for('log.get_all'), 'log', 'Log'),
                            (url_for('auth.signout'), 'signout', 'Sign out')
                        ] -%}
                    {% endif %}
                    {% if not g.user.is_authenticated%}
                        {% set navigation_bar = [
                            (url_for('auth.signin'), 'signin', 'Sign in'),
                            (url_for('auth.register'), 'register', 'Register'),
                        ] -%}
                    {% endif %}
                    {% for href, id, caption in navigation_bar %}
                        <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="main" class="container">
{%- for category, message in get_flashed_messages(with_categories=true) %}
  <div class="alert {%  if category == 'error' %} alert-error {% endif %} flask {{ category }}-flash">{{
    "Error: " if category == 'error' }}{{ message }}</div>
{%- endfor %}
    {% block body %}{% endblock %}
    <hr>
    <footer id="footer">
        <div>
            <p>DrawML - Cloud Machine Learning Service</p>
            <a href="https://github.com/DrawML">https://github.com/DrawML</a>
        </div>
    </footer>
</div>