<!doctype html>
<title>DrawML</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
    padding-top: 60px;
    padding-bottom: 100px;
}
</style>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/static/javascripts/jquery.js"></script>
<script src="/static/javascripts/bootstrap.js"></script>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse"
                data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">DrawML</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    {% if g.user.is_authenticated%}
                        <li><a href="{{ url_for('auth.signout') }}">Sign out</a></li>
                    {% endif %}
                    {% if not g.user.is_authenticated%}
                        <li><a href="{{ url_for('auth.signin') }}">Sign in</a></li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{%- for category, message in get_flashed_messages(with_categories=true) %}
  <p class="flask {{ category }}-flash">{{
    "Error: " if category == 'error' }}{{ message }}</p>
{%- endfor %}
<div id="main" class="container">
    {% block body %}{% endblock %}
    <hr>
    <footer id="footer">
        <div>
            <p>DrawML - Cloud Machine Learning Service</p>
            <a href="https://github.com/DrawML">https://github.com/DrawML</a>
        </div>
    </footer>
</div>